# Introducción a python

Vamos a ir introduciendo los conceptos del lenguaje python

Seguimos en ello

In [1]:
a=3

In [2]:
a

3

In [3]:
b="Hola Mundo"

In [4]:
b

'Hola Mundo'

In [5]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
print(a)
print(b)

3
Hola Mundo

In [9]:
a

3

In [10]:
b

'Hola Mundo'

In [11]:
a=5

In [12]:
print("Hola. Soy Santiago y llevo %s años en Datahack" %a)

Hola. Soy Santiago y llevo 5 años en Datahack

In [13]:
print(" Hola. Soy Santiago y llevo " + a +" años en datahack")

TypeError: can only concatenate str (not "int") to str

In [31]:
c=True
d=False

In [32]:
f=3.0

In [33]:
type(f)

float

In [34]:
type(a)

int

In [35]:
3+2

5

In [36]:
3+2.0

5.0

In [37]:
1+True

2

In [38]:
1*False

0

In [39]:
False

False

In [40]:
print(3-2)
print(3*2)
print(3/2)
print(3//2)
print(3%2)
print(3**2)

1
6
1.5
1
1
9

In [41]:
a="Hola"
b="Mundo"

In [42]:
a+b

'HolaMundo'

In [43]:
a*2

'HolaHola'

In [44]:
type(a)==type(c)

False

In [45]:
type(a)!=type(c)

True

In [46]:
3>8

False

In [47]:
3>=8

False

In [48]:
a<b

True

In [49]:
a

'Hola'

In [50]:
# La siguiente línea suma dos números

3+2

5

In [51]:


"""ESto es un comentario
y lo es mientras no cierre
las comillas"""
print(a)

Hola

## Operadores booleanos

In [52]:
#y o no

3==3 and 4==5

False

In [53]:
not 3==3 or 4==5

False

In [54]:
3==3 & 4==5

False

### Funciones preconstruidas

In [55]:
print("Hola")

Hola

In [56]:
len("Hola")

4

In [57]:
len(a)

4

In [58]:
a

'Hola'

In [59]:
abs(-4.5)

4.5

In [60]:
str(4)

'4'

In [61]:
float("3.5")

3.5

In [62]:
float("ar")

ValueError: could not convert string to float: 'ar'

In [65]:
"HOLA".lower()

'hola'

In [66]:
"hola".upper()

'HOLA'

In [67]:
"HOLA".islower()

False

In [68]:
"Mi coche es azul".split("c")

['Mi ', 'o', 'he es azul']

In [69]:
"Li coche es azul".strip("l")

'Li coche es azu'

# LISTAS

In [70]:
mi_primera_lista=[2,3,4]

In [71]:
mi_primera_lista

[2, 3, 4]

In [72]:
type(mi_primera_lista)

list

In [73]:
mi_primera_lista.append("Hola")

In [74]:
mi_primera_lista

[2, 3, 4, 'Hola']

In [75]:
mi_primera_lista.append(True)

In [76]:
mi_primera_lista

[2, 3, 4, 'Hola', True]

In [77]:
mi_primera_lista.append([5,9])

In [78]:
mi_primera_lista

[2, 3, 4, 'Hola', True, [5, 9]]

In [79]:
len(mi_primera_lista)

6

In [80]:
mi_primera_lista[0]

2

In [81]:
mi_primera_lista[len(mi_primera_lista)-1]

[5, 9]

In [82]:
mi_primera_lista[len(mi_primera_lista)-1][len(mi_primera_lista[len(mi_primera_lista)-1])-1]

9

In [83]:
mi_primera_lista[0:4:2]

[2, 4]

In [84]:
mi_primera_lista[-2]

True

In [85]:
mi_primera_lista

[2, 3, 4, 'Hola', True, [5, 9]]

In [86]:
mi_primera_lista[-3:]

['Hola', True, [5, 9]]

In [87]:
mi_primera_lista[::-1]

[[5, 9], True, 'Hola', 4, 3, 2]

In [88]:
lista1=[0,1,2,3,4]

In [89]:
lista2=[]

In [90]:
len(lista2)

0

In [91]:
lista2.append(lista1[0]*2)

In [92]:
lista2

[0]

In [93]:
lista2.append(lista1[1]*2)
lista2.append(lista1[2]*2)
lista2.append(lista1[3]*2)

In [94]:
lista2

[0, 2, 4, 6]

In [95]:
for elemento in lista1:
    print(elemento)
    print(elemento*2)
print("Se acabó el bucle")
print(elemento)

0
0
1
2
2
4
3
6
4
8
Se acabó el bucle
4

In [96]:
lista1

[0, 1, 2, 3, 4]

In [97]:
lista2=[]
for elemento in lista1:
    lista2.append(elemento*2)

In [98]:
lista2

[0, 2, 4, 6, 8]

In [99]:
range(1,10,2)

range(1, 10, 2)

In [100]:
type(range(10))

range

In [101]:
for indice in range(1,10,2):
    print(indice)

1
3
5
7
9

In [102]:
lista2

[0, 2, 4, 6, 8]

In [103]:

indice=0
for indice in range(0,len(lista2)):
    print(lista2[indice])

0
2
4
6
8

In [104]:
lista2.reverse()

In [105]:
lista2[::-1]

[0, 2, 4, 6, 8]

In [106]:
lista2

[8, 6, 4, 2, 0]

In [107]:
lista2[::-1]

[0, 2, 4, 6, 8]

In [108]:
a=3

In [109]:
a

3

In [110]:
b=a

In [111]:
b

3

In [112]:
b=4

In [113]:
b

4

In [114]:
a

3

In [115]:
lista3=[1,2]

In [116]:
lista4=lista3

In [117]:
lista3

[1, 2]

In [118]:
lista4

[1, 2]

In [119]:
lista4.append(3)

In [120]:

lista4

[1, 2, 3]

In [121]:
lista3

[1, 2, 3]

### Condicionales: if, elif, else:

In [122]:
a=1
if a ==3:
    print("%s es igual a 3" %a)
elif a>3:
    print("%s es mayor que 3" %a)
else:
    print("%s es menor que 3" %a)

1 es menor que 3

In [123]:
lista1

[0, 1, 2, 3, 4]

In [124]:
lista2=[]

for elemento in lista1:
    if elemento%2==0:
        lista2.append(elemento*2)
    else:
        lista2.append(elemento*3)

In [125]:
lista2

[0, 3, 4, 9, 8]

### Bucle While

In [126]:
indice=0
while indice<6:
    print(indice)
    indice=indice+1 #indice+=1

0
1
2
3
4
5

# Break

In [127]:
lista1

[0, 1, 2, 3, 4]

In [128]:
for element in lista1:
    if element>2:
        print("Hemos llegado al final, nos salimos")
        break
    print(element)

0
1
2
Hemos llegado al final, nos salimos

## try except

In [129]:
lista1

[0, 1, 2, 3, 4]

In [130]:
for indice in range(10):
    try:
        print(lista1[indice])
    except:
        print("nos hemos salido del rango")
        break

0
1
2
3
4
nos hemos salido del rango

In [131]:
try:
    len(3)
except TypeError:
    print("Los números no tienen longitud")

Los números no tienen longitud

## Resto de colecciones

In [132]:
for caracter in "Un texto es una colección":
    if caracter==" ":
        break
    print(caracter)

U
n

In [133]:
texto="Un texto es una colección"

In [134]:
"t" not in texto

False

In [135]:
lista1

[0, 1, 2, 3, 4]

In [136]:
2 in lista1

True

### Tuplas

In [137]:
lista1

[0, 1, 2, 3, 4]

In [138]:
lista1[0]

0

In [139]:
lista1[0]=4

In [140]:
lista1

[4, 1, 2, 3, 4]

In [141]:
lista1.pop()

4

In [142]:
lista1

[4, 1, 2, 3]

In [143]:
(1,2,3)

(1, 2, 3)

In [144]:
type((1,2,3))

tuple

In [145]:
mi_tupla=(1,"a",True)

In [146]:

mi_tupla

(1, 'a', True)

In [147]:
mi_tupla[0]

1

In [148]:
mi_tupla[0]="p"

TypeError: 'tuple' object does not support item assignment

In [149]:
mi_tupla.append("i")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
for elemento in mi_tupla:
    print(elemento)

In [ ]:
mi_lista=[]
for el in mi_tupla:
    mi_lista.append(el)

In [150]:
list(mi_tupla)

[1, 'a', True]

In [151]:
mi_tupla

(1, 'a', True)

In [152]:
lista1

[4, 1, 2, 3]

In [153]:
tuple(lista1)

(4, 1, 2, 3)

## Diccionarios

clave:valor

In [154]:
{"a":1,"b":2,"c":3}

{'a': 1, 'b': 2, 'c': 3}

In [155]:
mi_dic={"a":[1,2],"b":2,"c":3}

In [156]:
mi_dic

{'a': [1, 2], 'b': 2, 'c': 3}

In [157]:
mi_dic["b"]

2

In [158]:
mi_dic["a"]

[1, 2]

In [159]:
mi_dic.keys()

dict_keys(['a', 'b', 'c'])

In [160]:
list(mi_dic.keys())

['a', 'b', 'c']

In [161]:
mi_dic.values()

dict_values([[1, 2], 2, 3])

In [162]:
mi_dic.items()

dict_items([('a', [1, 2]), ('b', 2), ('c', 3)])

In [163]:
dict([('a', [1, 2]), ('b', 2), ('c', 3)])

{'a': [1, 2], 'b': 2, 'c': 3}

In [164]:
mi_dic

{'a': [1, 2], 'b': 2, 'c': 3}

In [165]:
mi_dic["clave_nueva"]=50

In [166]:
mi_dic

{'a': [1, 2], 'b': 2, 'c': 3, 'clave_nueva': 50}

In [167]:
mi_dic["a"]=1

In [168]:
mi_dic

{'a': 1, 'b': 2, 'c': 3, 'clave_nueva': 50}

In [169]:
for clave in mi_dic.keys():
    print(clave)

a
b
c
clave_nueva

In [170]:
for valor in mi_dic.values():
    print(valor)

1
2
3
50

In [171]:
for clave,valor in mi_dic.items():
    
    print((clave,valor))

('a', 1)
('b', 2)
('c', 3)
('clave_nueva', 50)

In [172]:
for clave in mi_dic.keys():
    print(mi_dic[clave])

1
2
3
50

In [173]:
{"a","b","c"}

{'a', 'b', 'c'}

In [174]:
{"a","b","c","a"}

{'a', 'b', 'c'}

In [175]:
set(["a","b","c","a"])

{'a', 'b', 'c'}

# FUNCIONES

f(x)=y

In [176]:
len("ar")

2

In [177]:
def sumando(sum1 ,sum2):
    return sum1+sum2

In [178]:
sumando("a","b")

'ab'

In [179]:
sumando(sum2="b",sum1="a")

'ab'

In [180]:
sumando([1,2],[3,4])

[1, 2, 3, 4]

In [181]:
def multiplica(mul1,mul2):
    salida=mul1*mul2
    return salida

In [182]:
multiplica(2,3)

6

In [183]:
multiplica([2,3],2)

[2, 3, 2, 3]

In [184]:
lista1

[4, 1, 2, 3]

In [185]:
def devuelve_max(lista_1,es_max=True):
    if es_max==True:
        salida=lista_1[-1]
        for ele in lista_1:
            if ele>salida:
                salida=ele
    else:
        salida=lista_1[-1]
        for ele in lista_1:
            if ele<salida:
                salida=ele
        
   
    return salida

In [186]:
devuelve_max(lista1,es_max=True)

4

In [187]:
lista1

[4, 1, 2, 3]

## *args y **kwargs

In [188]:
def mi_f(a1,a2,a3,a4):
    
    return a1+a2+a3+a4

In [189]:
def mi_f_mejorada(*args):
    salida=args[0]+args[-1]
    return salida

In [190]:
mi_f_mejorada(2,3,4)

6

In [191]:
mi_f_mejorada(2,3,4,5,6)

8

In [192]:
def mi_f_mejorada2(**kwargs):
    for clave,valor in kwargs.items():
        print(clave,valor)
    return kwargs

In [193]:
mi_f_mejorada2(Hola=2,Adios=3,hasta_luego=3)

Hola 2
Adios 3
hasta_luego 3

{'Hola': 2, 'Adios': 3, 'hasta_luego': 3}

In [194]:
def tengo_de_todo(obg1,obg2,*args,op1=1,op2=2,**kwargs):
    
    return args

In [195]:
tengo_de_todo(1,2,3,4,5,6,op1=7)

(3, 4, 5, 6)

In [196]:
tengo_de_todo([1,2],(2,3))

()

# Programación orientada a objetos: clases

In [197]:
lista1

[4, 1, 2, 3]

In [198]:
type(lista1)

list

In [199]:
lista1.append(5)

In [200]:
"Hola".upper()

'HOLA'

In [201]:
class SdA:
    
    
    peso=30
   # resistencia=5
   # destreza=2
    def __init__(self,f=3,r=5,destreza=2):
        if destreza>5:
            print("Qué más quisieras")
            self.destreza=0
        else:
            self.destreza=destreza
            
        self.fuerza=f
        self.resistencia=r
        self.destreza=destreza
        
    def golpear(self,arma=1):
        return self.fuerza+arma
    
    def hacer_footing(self,distancia=10):
        
        self.resistencia=self.resistencia+0.1*distancia
        if self.resistencia>5:
            print("No hace falta que corras más")
            self.resistencia=5

In [202]:
Gimli=SdA()

In [203]:
type(Gimli)

__main__.SdA

In [204]:
Gimli.peso

30

In [205]:
Gimli.fuerza

3

In [206]:
Gimli.golpear(5)

8

In [207]:
Legolas=SdA(r=2,destreza=5)

In [208]:
Legolas.destreza

5

In [209]:
Legolas.hacer_footing(100)

No hace falta que corras más

In [210]:
Gimli.destreza=3

In [211]:
Gimli.destreza

3

In [212]:
Legolas.resistencia

5

In [213]:
4
-4

-4

In [214]:
abs(4)

4

In [215]:
abs(-4)

4

In [216]:
log(4)

NameError: name 'log' is not defined

In [217]:
import math as m

In [218]:
math.log(4)

NameError: name 'math' is not defined

In [ ]:
math.ceil(8.9)

In [ ]:
from math import log,cos

In [ ]:
log(4)

In [ ]:
import os

In [ ]:
import pandas as pd

In [ ]:
m.cos(m.pi)

In [ ]:
cos(m.pi*0.5)

In [ ]:
from numpy import *

In [ ]:
import swifter

In [ ]:
import pandas as pd

##Instalación de librerías: conda y pip

## Funciones lambda

In [219]:
def multiplicax2(x,y,funcion):
    return 2*funcion(x,y)

In [220]:
multiplicax2(8,6,lambda x,y: 2*x if y >5 else 3*x)

32

In [221]:
multiplicax2(8,6,lambda x,y: x**y)

524288

In [222]:
lambda x: 2*x if x >5 else 3*x

In [223]:
def nombre_funcion(a,b,*args,c=8,d=False,**kwargs):
    
    return

# Generadores: map, filter, reduce

In [224]:
lista1

[4, 1, 2, 3, 5]

In [225]:
def mult2(x,multiplo=2):
    return multiplo*x

In [ ]:
lista2
for elemen in lista1:
    lista2.append(mult2(elemen))

In [ ]:
map(funcion, lista)

In [229]:
lista2=list(map(mult2,lista1))

In [230]:
lista2

[8, 2, 4, 6, 10]

In [235]:
generador=map(mult2,lista1)

In [236]:
generador

In [237]:
indice=0
for elemento in generador:
    print(elemento)
    indice=indice+1
    if indice==3:
        break

8
2
4

In [242]:
tuple(map(lambda x: abs(x),lista1))

(12, 3, 6, 9, 15)

In [241]:
lista1

[4, 1, 2, 3, 5]

In [ ]:
###filter

In [243]:
listapar=[]
for element in lista1:
    if element%2==0:
        listapar.append(element)

In [244]:
listapar

[4, 2]

In [245]:
def es_par(x):
    if x%2==0:
        return True
    else:
        return False

In [247]:
es_par(8)

True

In [249]:
list(filter(es_par,lista1))

[4, 2]

In [250]:
list(filter(lambda x: True if x%2==0 else False,lista1))

[4, 2]

In [251]:
from functools import reduce

In [252]:
def multx2(x,y):
    return x*y

In [257]:
resultado=1
for elemento in lista1:
    print(resultado,elemento)
    resultado=resultado*elemento

1 4
4 1
4 2
8 3
24 5

In [259]:
lista1[0]=0

In [255]:
resultado

120

In [258]:
reduce(lambda x,y:x*y ,lista1)

120

In [263]:
reduce(lambda x,y:x-y ,lista1)

-11

In [264]:
lista1

[0, 1, 2, 3, 5]

### Listas comprimidas o list comprehension o for comprehension

In [269]:
[multx2(x,2) for x in lista1]

[0, 2, 4, 6, 10]

In [267]:
lista2=[]
for elemen in lista1:
    lista2.append(elemen*2)

In [268]:
lista2

[0, 2, 4, 6, 10]

In [272]:
[lambda x: 2*x for x in lista1]

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]

### If en listas comprimidas.

- Caso 1: Uso el if para filtrar: Estaríamos en un tipo filter
- Caso 2: Uso el if como condición para el resultado: Estaríamos en un tipo map

In [273]:
lista1

[0, 1, 2, 3, 5]

In [274]:
##Cuando quiero filtrar la condición va después del for
[2*x for x in lista1 if x%2==0]

[0, 2]

In [275]:
##Caso 2 cuando es un condición que afecta al resultado va antes del for y SIEMPRE necesita if else

lista2=[]
for element in lista1:
    if element%2==0:
        lista2.append(2*element)
    else:
        lista2.append(3*element)

In [276]:
lista2

[0, 3, 4, 9, 15]

In [280]:
[2*x if x%2==0 else x for x in lista1]

[0, 1, 4, 3, 5]

## zip enumerate y sorted

In [286]:
#zip
lista1=[0,1,2,3,4,5]
lista2=[x for x in "abcde"]
lista2

['a', 'b', 'c', 'd', 'e']

In [285]:
list(zip(lista2,lista1))

[('a', 0), ('b', 1), ('c', 2), ('d', 3), ('e', 4)]

In [288]:
dict(zip(lista2,lista1))

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [289]:
enumerate(lista2)

In [291]:
tuple(enumerate(lista2))

((0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'))

In [292]:
for indice,valor in enumerate(lista2):
    print(indice,valor)

0 a
1 b
2 c
3 d
4 e

In [293]:
lista2

['a', 'b', 'c', 'd', 'e']

In [297]:
lista2=sorted(lista2,reverse=True)

['e', 'd', 'c', 'b', 'a']

In [299]:

sorted(tuple(lista2),reverse=True)

['e', 'd', 'c', 'b', 'a']